body {
  font: 18px arial, sans serif;
  background-color: rgb(179, 148, 214);
  }

#searches {
  width: 70%
}

.search-item {
    float: left;
    padding: 10px;
}

form {
  width: 30%;
  float: right;
  padding: 20px;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 10px;
  height: 30px;
  font-size: 18px
}

button,
input[type="submit"] {
  background: #659a98
  color: #ffffff
  border: 0;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 18px;
  margin: 0 10px 10px 0;
  curser: pointer;
  box-shadow: 2px 2px 3px #bbbbbb;
}

button:hover,
input[type="submit"]:hover {
  background: #1d0546;
  color: white;
}

button.active {
  background: #f8be00
}